<section class="ls s-py-80 s-py-lg-120 s-py-xl-160 c-gutter-60 fontContent">
    <div class="container" style="padding-bottom:70px;padding-top: 30px">
        <div class="row">
            <main class="offset-lg-1 col-lg-10">
                <article class="vertical-item content-padding post type-post
                    status-publish format-standard has-post-thumbnail
                    single-post">

                    <!-- .post-thumbnail -->
                    <div class="item-media post-thumbnail rounded-image-top">
                        <img src="assets/images/info/back.jpg" alt=""
                            style="height:
                            500px">
                    </div>


                    <div class="item-content hero-bg" style="padding-top: 5px;">
                        <div class="entry-content">
                            <blockquote>
                                <div class="media">

                                    <div class="media-body">
                                        <span>Технологи хөгжүүлэгчид юу хийдэг
                                            вэ?</span>
                                        <h3>
                                            Back End Developer
                                        </h3>
                                    </div>
                                </div>
                            </blockquote>
                            <header class="entry-header">
                                <div class="entry-meta small-text
                                    color-darkgrey">
                                    <span class="byline">

                                        <span class="posted-on">
                                            <a href="#">
                                                <i class="color-main fa
                                                    fa-calendar"></i>
                                                <time class="entry-date
                                                    published updated"
                                                    datetime="2018-01-03T10:11:37+00:00">29.09.21</time>
                                            </a>
                                        </span>
                                    </span>
                                </div><!-- .entry-meta -->
                            </header>
                            <hr/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6 style="font-size: 15px;">Back End
                                            Developers юу хийдэг юм бол?</h6>
                                        <ul>
                                            <li>Веб сайт болон программуудын ард
                                                талд буюу сервер талд
                                                ажилладаг логик хэсгийг хэлнэ
                                            </li>
                                            <li>Өөрөөр хэлбэл мэдээллийн бааз,
                                                сервер, программыг бүрдүүлэхэд
                                                шаардлагатай бүхий л кодыг
                                                бичих, өгөгдлийн сангийн
                                                хөгжүүлэлт,
                                                API интеграциас эхлээд
                                                software-н хамгийн чухал хэсгүүд
                                                рүү тулж
                                                ажилладаг хүмүүс юм</li>

                                        </ul>
                                    </div>
                                    <div class="col-md-12">
                                        <h6 style="font-size: 15px;">Back End
                                            Developer болохыг хүсэж
                                            байвал доорх сервер талын
                                            програмчлалын хэлнүүдээс 1-2ыг
                                            чадварлаг эзэмшсэн байх шаардлагатай
                                        </h6>
                                        <ul>
                                            <li>PHP</li>
                                            <li>Ruby</li>
                                            <li>Python</li>
                                            <li>Java</li>
                                            <li>New</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12">
                                        <h6 style="font-size: 15px;">Back End
                                            Developer болохыг хүсэж
                                            байвал доорх сервер талын
                                            програмчлалын хэлнүүдээс 1-2ыг
                                            чадварлаг эзэмшсэн байх шаардлагатай
                                        </h6>
                                        <ul>
                                            <li>PHP</li>
                                            <li>Ruby</li>
                                            <li>Python</li>
                                            <li>Java</li>
                                            <li>Net</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12">
                                        <h6 style="font-size: 15px;">Мөн мэдээж
                                            MySQL, Oracle server,
                                            MongoDB өгөгдлийн сангуудыг удирдаж
                                            сурах хэрэгтэй.</h6>

                                    </div>
                                    <div class="col-md-12">
                                        <h6 style="font-size: 15px;">Back End
                                            Developer болоход танд
                                            хэрэгтэй Soft Skills </h6>
                                        <ul>
                                            <li>Харилцааны ур чадвар сайн</li>
                                            <li>Багаар ажиллах чадвартай</li>
                                            <li>Идэвхтэй сайн сонсогч
                                            </li>
                                            <li>Уян хатан байдал</li>
                                            <li>Бусадтайгаа хамтарч ажиллах үе
                                                байх ч ихэнхдээ ганцаараа бие
                                                даан ажиллах үеүүд ирдэг гэдгийг
                                                санаарай</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </article>
                    <div class="col-lg-12" style="display: flex;
                        justify-content:
                        right;margin-top: 20px;padding: 0;">
                        <a routerLink="/news" class="read-more btn small-btn
                            btn-maincolor"><span>Буцах</span></a>
                    </div>

                </main>
            </div>

        </div>
    </section>