<div class="page_header_side header_slide header_side_right ls">
    <span class="toggle_menu toggle_menu_side header-slide"
        style="background-color: unset; margin-top: 8px; margin-left: -50px;"><span></span></span>
    <div class="scrollbar-macosx">
        <div class="side_header_inner">
            <div class="header-side-menu">
                <!-- main side nav start -->
                <nav class="mainmenu_side_wrapper">

                    <ul class="nav menu-click">
                        <li>
                            <a routerLink="about" (click)="toggleSidebar()"
                                (click)="changeTittle('Бидний
                                Тухай')">
                                <i class="color-main7 fa fa-users"
                                    style="font-size: 14px;">Бидний
                                    Тухай</i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="service" (click)="toggleSidebar()"
                                (click)="changeTittle('Үйлчилгээ')">
                                <i class="color-main7 fa fa-support"
                                    style="font-size: 14px;">
                                    Үйлчилгээ</i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="product" (click)="toggleSidebar()"
                                (click)="changeTittle('Бүтээгдэхүүн')">
                                <i class="color-main7 fa fa-wrench"
                                    style="font-size: 14px;">
                                    Бүтээгдэхүүн</i>

                            </a>
                        </li>
                        <li>
                            <a routerLink="news" (click)="toggleSidebar()"
                                (click)="changeTittle('Мэдээ')">
                                <i class="color-main7 fa fa-pencil"
                                    style="font-size: 14px;"> Мэдээ</i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="contact" (click)="toggleSidebar()"
                                (click)="changeTittle('Холбоо
                                барих')">
                                <i class="color-main7 fa fa-phone"
                                    style="font-size: 14px;">Холбоо
                                    барих</i>

                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- eof main side nav -->
            </div>
        </div>
    </div>
</div>