<section class="ls s-pt-50 s-pb-20 s-pt-lg-90 s-pb-lg-40 s-pt-xl-130
	s-pb-xl-80 c-mb-60 fontContent" style="background-image:
	url('assets/images/background.png');">
	<div class="d-none d-lg-block divider-15"></div>
	<div class="container" style="padding-top: 5px; padding-bottom: 80px;">
		<div class="row">
			<div class="col-lg-4 col-md-6" style="background-color: #fff;margin-bottom:
				20px;">

				<div class="pricing-plan bordered" style="height: 570px;margin-bottom:
					20px;">
					<div class="plan-name bg-maincolor" style="height: 100px;">
						<span style="font-size: 17px; font-weight: bold;"> Хэрэглэгчийн
							шаардлагын дагуу хөгжүүлэх</span>
					</div>

					<div class="plan-features" style="margin-bottom: 50px;">

						<p style="text-align: justify;">
							Програм хангамжийг аливаа байгууллагад нэвтрүүлсний дараа тухайн
							байгууллагын онцлогт тохируулан, бизнесийн цар хүрээнээс хамаарч
							системд өөрчлөлт оруулах тохиолдол элбэг байдаг. Ийм тохиолдолд бид
							хэрэглэгчийн шаардлагыг нарийн судалж, хамгийн оновчтой шийдлийг
							санал болгон модуль болон нэмэлт өөрчлөлт хөгжүүлдэг.
						</p>


					</div>

				</div>

			</div>

			<div class="col-lg-4 col-md-6" style="background-color: #fff;margin-bottom:
				20px;">

				<div class="pricing-plan bordered" style="height: 570px;">
					<div class="plan-name bg-maincolor2" style="height: 100px;">
						<span style="font-size: 17px; font-weight: bold;"> Зөвлөх үйлчилгээ
						</span>
					</div>

					<div class="plan-features" style="margin-bottom: 50px;">

						<p style="text-align: justify;">
							Манай компанийн олон жилийн туршлагатай, мэргэжлийн сертификаттай,
							мэргэшсэн инженер, бизнес аналистууд байгууллагын хүсэлтээр
							Бизнесийн болон Техникийн чиглэлээр зөвлөх үйлчилгээ үзүүлнэ.
						</p>

					</div>

				</div>

			</div>

			<div class="col-lg-4 col-md-6 mx-sm-auto" style="background-color:
				#fff;margin-bottom: 20px;">

				<div class="pricing-plan bordered" style="height: 570px;">
					<div class="plan-name bg-maincolor3" style="height: 100px;">
						<span style="font-size: 17px; font-weight: bold;"> Бүтээгдэхүүний
							support үйлчилгээ</span>
					</div>

					<div class="plan-features" style="margin-bottom: 50px;">

						<p style="text-align: justify;">
							Програм хангамжийн бүтээгдэхүүн гэдэг нь нэвтрүүлээд дуусгавар
							болдог зүйл биш байнгын арчилгаа сайжруулалт гэх мэт үргэлжилсэн
							зүйл байдаг учир харилцагч байгууллагатай support үйлчилгээний
							гэрээтэй ажилладаг.
						</p>

					</div>

				</div>

			</div>


		</div>
		<div class="row bordered" style="padding: 30px;background-color:
			#fff;
			box-shadow:
			0px 10px 10px -10px #DCDCDC;">
			<div class="row" style="padding: 0;">
				<div class="col-xl-4 col-lg-4 col-md-5" style="margin-bottom:unset">
					<div class="item-media" style="display: flex; justify-content:
						center;position: unset;">
						<img src="assets/images/fintobot.png" alt="" style="width: 60%;">
					</div>
				</div>

				<div class="col-xl-8 col-lg-8 col-md-6" style="margin-bottom:unset">
					<div class="">

						<h5>
							<span>Финтобот</span>
						</h5>


						<p style="text-align: justify;">
							Финботот систем нь хэрэглэгч байгууллагаа, финтек зах зээлийн
							бүтээгдэхүүн үйлчилгээг ойлгоход тусалж, сервер тоног төхөөрөмж,
							мэдээллийн баазын арчилгаа, тэдгээрт зарцуулах хүний нөөц, өндөр
							зардал гэх мэт асуудлыг бүрэн шийдвэрлэдэг.
						</p>

					</div>
				</div>
			</div>

			<div class="col-lg-12" style="display: flex; justify-content:
				right;margin-bottom: 0;">
				<a href="/service/fintobot" class="read-more btn small-btn btn-maincolor"><span>Дэлгэрэнгүй</span></a>
			</div>
		</div>


	</div>
	<div class="d-none d-lg-block divider-15"></div>
</section>