<section class="ls s-pt-50 s-pb-20 s-pt-lg-90 s-pb-lg-40 s-pt-xl-130
	s-pb-xl-80 c-mb-60 fontContent" style="background-image:
	url('assets/images/background.png');">
	<div class="d-none d-lg-block divider-15"></div>
	<div class="container" style="padding-top: 5px; padding-bottom: 15px;">
		<div class="row">
			<div class="col-lg-4 col-md-6" style="background-color: #fff;margin-bottom:
				unset;">
				<div class="pricing-plan bordered" style="height: 390px;">
					<div class="plan-name bg-maincolor" style="height:
						250px;padding: 0;">
						<a routerLink="/news/show/1"><img
								src="assets/images/info/5g.jpg" alt=""></a>
					</div>

					<div style="padding: 20px 0; width: 100%;">
						<a routerLink="/news/show/1"><span><h5 style="font-size: 22px;">5G
									технологи</h5></span></a>
						<p style="text-align: justify;">
							5G технологи
						</p>
					</div>

				</div>

			</div>
			<div class="col-lg-4 col-md-6" style="background-color: #fff;margin-bottom:
				unset;">

				<div class="pricing-plan bordered" style="height: 390px;">
					<div class="plan-name bg-maincolor" style="height:
						250px;padding: 0;">
						<a routerLink="/news/show/2">
							<img src="assets/images/info/front.jpg"
								alt="" style="height: 100%;">
						</a>
					</div>

					<div style="padding: 20px 0; width: 100%;">
						<a routerLink="/news/show/2"><span><h5 style="font-size: 22px;">Front
									end developer</h5></span></a>
						<p style="text-align: justify;">
							Технологи хөгжүүлэгчид юу хийдэг вэ?
						</p>
					</div>

				</div>

			</div>
			<div class="col-lg-4 col-md-6" style="background-color: #fff;margin-bottom:
				unset;">

				<div class="pricing-plan bordered" style="height: 390px;">
					<div class="plan-name bg-maincolor" style="height:
						250px;padding: 0;">
						<a routerLink="/news/show/3">
							<img src="assets/images/info/back.jpg"
								alt="" style="height: 100%;">
						</a>
					</div>

					<div style="padding: 20px 0; width: 100%;">
						<a routerLink="/news/show/3">
							<span><h5 style="font-size: 22px;">Back
									end developer</h5></span>
						</a>


						<p style="text-align: justify;">
							Технологи хөгжүүлэгчид юу хийдэг вэ?
						</p>
					</div>

				</div>

			</div>
			<div class="col-lg-4 col-md-6" style="background-color: #fff;">

				<div class="pricing-plan bordered" style="height: 390px;">
					<div class="plan-name bg-maincolor" style="height:
						250px;padding: 0;">
						<a routerLink="/news/show/4">
							<img src="assets/images/info/tech.jpg"
								alt="" style="height: 100%;width: 100%;">
						</a>
					</div>

					<div style="padding: 20px 0; width: 100%;">
						<a routerLink="/news/show/4">
							<span><h5 style="font-size: 22px;">Технологиор гэрэлт</h5></span>
						</a>
						<p style="text-align: justify;">
							2021 онд зах зээлд эрэлттэй байгаа 10 мэргэжил
						</p>
					</div>

				</div>

			</div>
			<div class="col-lg-4 col-md-6" style="background-color: #fff;">

				<div class="pricing-plan" style="height: 390px;">
					<div class="plan-name bg-main bordered" style="height:
						250px;padding: 0;">
						<a routerLink="/news/show/5">
							<img src="assets/images/zeely.png"
								alt="" style="height: 100%;width: 100%;">
						</a>
					</div>

					<div style="padding: 20px 0; width: 100%;">
						<a routerLink="/news/show/5"><span><h5 style="font-size: 22px;">Zeely</h5></span></a>
						<p style="text-align: justify;">
							Zeely
						</p>
					</div>

				</div>

			</div>
			<div class="col-lg-4 col-md-6" style="background-color: #fff;">

				<div class="pricing-plan bordered" style="height: 390px;">
					<div class="plan-name bg-maincolor" style="height:
						250px;padding: 0;">
						<a routerLink="/news/show/6">
							<img src="assets/images/info/ai.jpg"
								alt="" style="height: 100%;">
						</a>
					</div>

					<div style="padding: 20px 0; width: 100%;">
						<a routerLink="/news/show/6">
							<span><h5 style="font-size: 22px;">AI</h5></span>
						</a>
						<p style="text-align: justify;">
							AI буюу Хиймэл оюун ухааны хурдацтай хөгжил
						</p>
					</div>

				</div>

			</div>



		</div>



	</div>
	<div class="d-none d-lg-block divider-15"></div>
</section>