<section class="ls s-py-80 s-py-lg-120 s-py-xl-160 c-gutter-60 fontContent">
    <div class="container" style="padding-bottom:70px;padding-top: 30px">
        <div class="row">
            <main class="offset-lg-1 col-lg-10">
                <article class="vertical-item content-padding post type-post
                    status-publish format-standard has-post-thumbnail
                    single-post">

                    <!-- .post-thumbnail -->
                    <div class="item-media post-thumbnail rounded-image-top">
                        <img src="assets/images/info/5g.jpg" alt=""
                            style="height:
                            500px">
                    </div>


                    <div class="item-content hero-bg">



                        <div class="entry-content">
                            <h5>
                                "5G бол зүгээр нэг технологийн шинэчлэл биш,
                                бусад инновацыг хийх
                                боломжтой платформ юм" - Hans Vestberg,
                                Verizon-ын дарга, гүйцэтгэх
                                захирал

                            </h5>
                            <header class="entry-header">
                                <div class="entry-meta small-text
                                    color-darkgrey">
                                    <span class="byline">

                                        <span class="posted-on">
                                            <a href="#">
                                                <i class="color-main fa
                                                    fa-calendar"></i>
                                                <time class="entry-date
                                                    published updated"
                                                    datetime="2018-01-03T10:11:37+00:00">10.09.21</time>
                                            </a>
                                        </span>
                                    </span>
                                </div><!-- .entry-meta -->
                            </header>
                            <hr/>
                                <p style="text-align: justify;">
                                    5G технологи нь 4G-гээс 100 дахин
                                    интернетийн хурдтай гэж хэлэхэд
                                    хэлсдэхгүй. 8К видео эсвэл 3D киног 4G-тэй
                                    байхад ойролцоогоор 5
                                    минут зарцуулдаг байсан бол 5G орж ирснээр 3
                                    секундэд л татна гэсэн
                                    үг

                                    2035 он гэхэд 5G нь дэлхийн эдийн засгийн
                                    12.3 их наяд долларын
                                    үйлдвэрлэлийг бий болгож, дэлхий даяар 22
                                    сая ажлын байрыг дэмжих
                                    таамаглалтай байна

                                </p>

                            </div>
                            <!-- .entry-content -->

                            <!-- .entry-footer -->
                        </div>
                        <!-- .item-content -->

                    </article>
                    <div class="col-lg-12" style="display: flex;
                        justify-content:
                        right;margin-top: 20px;padding: 0;">
                        <a routerLink="/news" class="read-more btn small-btn
                            btn-maincolor"><span>Буцах</span></a>
                    </div>
                </main>
            </div>

        </div>
    </section>