<section class="ls s-py-80 s-py-lg-120 s-py-xl-160 c-gutter-60 fontContent">
    <div class="container" style="padding-bottom:70px;padding-top: 30px">
        <div class="row">
            <main class="offset-lg-1 col-lg-10">
                <article class="vertical-item content-padding post type-post
                    status-publish format-standard has-post-thumbnail
                    single-post">

                    <!-- .post-thumbnail -->
                    <div class="item-media post-thumbnail rounded-image-top">
                        <img src="assets/images/info/tech.jpg" alt=""
                            style="height: 500px">
                    </div>


                    <div class="item-content hero-bg" style="padding-top: 5px;">
                        <div class="entry-content">
                            <blockquote>
                                <div class="media">

                                    <div class="media-body">
                                        <h3>
                                            Технологиор Гэрэлт

                                        </h3>
                                    </div>
                                </div>
                            </blockquote>
                            <header class="entry-header">
                                <div class="entry-meta small-text
                                    color-darkgrey">
                                    <span class="byline">

                                        <span class="posted-on">
                                            <a href="#">
                                                <i class="color-main fa
                                                    fa-calendar"></i>
                                                <time class="entry-date
                                                    published updated"
                                                    datetime="2018-01-03T10:11:37+00:00">02.10.21</time>
                                            </a>
                                        </span>
                                    </span>
                                </div><!-- .entry-meta -->
                            </header>
                            <hr/>
                                <h6 style="font-size: 15px;">2021 онд зах зээлд
                                    эрэлттэй байгаа 10
                                    мэргэжил:
                                </h6>
                                <ul class="list1">
                                    <li>Эмчийн туслах</li>
                                    <li>Мэдээлэл технологийн инженер</li>
                                    <li>Сувилагчийн дадлагажигч</li>
                                    <li>Эрүүл мэндийн үйлчилгээний менежер</li>
                                    <li>Эмч</li>
                                    <li>Статистикч</li>
                                    <li>Хэл ярианы эмгэг судлаач
                                    </li>
                                    <li>Өгөгдөл судлаач
                                    </li>
                                    <li>Шүдний эмч</li>
                                    <li>Малын эмч</li>
                                </ul>
                                <h6 style="font-size: 15px;">Мэдээлэл
                                    технологийн инженер гэж хэн
                                    бэ?
                                </h6>

                                <ul class="list1">
                                    <li>Компьютер, программ хангамж, сүлжээ,
                                        сервер болон бусад
                                        технологийг ашиглан мэдээллийг хадгалах,
                                        загварчлах, хамгаалах,
                                        боловсруулах үйлдлийг гүйцэтгэдэг
                                        мэргэжилтэнг хэлнэ
                                    </li>
                                </ul>
                                <h6 style="font-size: 15px;">IT мэргэжлийг
                                    сонгох ТОП 3 шалтгаан
                                </h6>
                                <ul class="list1">
                                    <li>Аль ч салбарт ажиллах боломжтой
                                    </li>
                                    <li>Үргэлж эрэлт хэрэгцээтэй
                                    </li>
                                    <li>Монголдоо төдийгүй Олон улсад цаг
                                        хугацаа, орон зайнаас үл
                                        хамааран өндөр цалин авч ажиллах
                                        боломжтой
                                    </li>
                                </ul>
                                <h6 style="font-size: 15px;">Олон улсад IT
                                    инженерийн цалингийн
                                    хэмжээ дунджаар: </h6>
                                <ul class="list1">
                                    <li>2015 онд 70,000$ - 75,771$ хооронд
                                        хэлбэлздэг байсан бол </li>
                                    <li>2021 онд 204,608$ өссөн байна</li>
                                    <li>Албан тушаалаасаа хамааран 58,808$ -
                                        350,408$ хооронд
                                        хэлбэлздэг</li>
                                </ul>
                                <h6 style="font-size: 15px;">Монгол улсад IT
                                    инженерийн цалингийн
                                    хэмжээ дунджаар
                                </h6>
                                <ul class="list1">
                                    <li>2021 оны байдлаар:1,020,000 - 3,190,000
                                        хооронд хэлбэлздэг
                                    </li>

                                </ul>
                                <h6 style="font-size: 15px;">Эх сурвалж
                                </h6>
                                <ul class="list1">
                                    <li>http://www.salaryexplorer.com/salary-survey.php?loc=143&loctype=1&job=1&jobtype=1</li>
                                    <li>https://studentbrands.co.za/career-guidance/top-5-reasons-study-information-technology/
                                    </li>
                                    <li>https://money.usnews.com/careers/best-jobs/rankings/the-100-best-jobs
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </article>

                    <div class="col-lg-12" style="display: flex;
                        justify-content:
                        right;margin-top: 20px;padding: 0;">
                        <a routerLink="/news" class="read-more btn small-btn
                            btn-maincolor"><span>Буцах</span></a>
                    </div>
                </main>
            </div>

        </div>
    </section>