
<section class="ds s-pt-80 s-pb-20 s-pt-lg-120 s-pb-lg-70 s-pt-xl-160
    s-pb-xl-100 c-gutter-60 c-mb-50 background-gradient advantage-section
    cover-background fontContent">
    <div class="container" style="padding-bottom:0px;padding-top: 40px">
        <div class="row">
            <div class="col-md-12">
                <p style="text-align: justify;">
                    ТАНАСОФТ ХХК нь 2020 онд үүсгэн байгуулагдаж, бичил
                    санхүүгийн зах зээл
                    болон хэрэглэгчийн хүсэл, шаардлага дээр тулгуурлан оновчтой
                    шийдлийг
                    санал болгон сүүлийн үеийн хурдтай, хүчтэй технологийг
                    ашиглан
                    бүтээгдэхүүнийг хөгжүүлдэг програм хангамжийн компани юм.
                    Манай
                    байгууллага нь уламжлалт зээлийн үйлчилгээг орчин үеийн
                    финтек салбар
                    руу шилжүүлэх үйлчилгээг 5 байгууллагуудад үзүүлж
                    аппликейшн, вэбсайт
                    болон мэдээллийн системээр нь хангасан байна. Үүнээс
                    онцолбол сэтгэл
                    зүйн үнэлгээний систем(Psy-Scoring system) -ийг технологитой
                    хослуулан
                    Zeely аппликейшнийг зах зээлд гаргасан. Мөн санхүүгийн
                    салбараас гадна
                    дадал хэвшүүлэгч HABIDO аппликейшнийг 2021 онд хэрэглэгчдэд
                    хүлээлгэн
                    өгсөн юм. Бидний бүтээсэн анхны нэгдсэн бүртгэлийн систем
                    болох
                    ФИНТОБОТ бүтээгдэхүүнийг одоогоор бичил санхүүгийн зах зээл
                    дээр үйл
                    ажиллагаа эрхэлдэг 5 байгууллага ашиглаж байна.
                </p>
            </div>
        </div>
        <div class="row">

            <div class="col-xl-4 col-md-6" style="margin-bottom:0px">
                <div class="icon-box text-center">
                    <div class="image-styled">
                        <img alt="" src="assets/images/dartboard.png"
                            style="width: 60%;">
                    </div>

                    <div class="col-md-12" style="text-align: justify;"
                        data-animation="fadeInLeft" data-delay="150"><span
                            style="font-weight: bold; font-size: 20px;">Зорилго
                            : </span>Бидний
                        нийлүүлж буй програм хангамжийн бүтээгдэхүүн нь
                        хэрэглэгчдэдээ тасралтгүй үнэ цэнийг өгдөг байна.
                    </div>


                </div>
            </div>
            <div class="col-xl-4 col-md-6" style="margin-bottom:0px">
                <div class="icon-box text-center">
                    <div class="image-styled">
                        <img alt="" src="assets/images/witness.png"
                            style="width: 60%;">
                    </div>

                    <div class="col-md-12" style="text-align: justify;"
                        data-animation="fadeInDown" data-delay="150"><span
                            style="font-weight: bold; font-size: 20px;">Алсын
                            хараа : </span>Монгол
                        програм хангамжийн инженерүүдийн ур чадвар, мэдлэг
                        туршлагийг
                        дээшлүүлж, гадаадын зах зээлд өрсөлдөгч компани болох</div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" style="margin-bottom:0px">
                <div class="icon-box text-center">
                    <div class="image-styled">
                        <img alt="" src="assets/images/gear.png" style="width:
                            60%;">
                    </div>

                    <div class="col-md-12" style="text-align: justify;"
                        data-animation="fadeInRight" data-delay="150"><span
                            style="font-weight: bold; font-size: 20px;">Үзэл
                            баримтлал : </span>Харилцагч
                        байгууллага, хувь хүн, хамтран зүтгэгчидтэй харилцахдаа
                        үнэт зүйлсийг
                        хөндөхгүй, эвсэг, найрсаг, нэгнээ дэмждэг гэр бүл шиг
                        хамт олон байна</div>

                </div>
            </div>

            <div class="d-none d-lg-block divider-small"></div>

        </div>
    </div>
</section>
<section class="ls s-pt-80 s-pb-50 s-pt-lg-120 s-pb-lg-100 s-pt-xl-160
    s-pb-xl-130 c-gutter-30 c-mb-30">
    <div class="entry-content" style="padding-bottom:60px;padding-top: 25px;;">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">

                <!-- <h5 style="display: flex; justify-content: center;color: #4c4c4c; font-size: 24px;margin-bottom: 23px;margin-top: 43px;">Хамтрагч байгууллагууд</h5> -->
                <span style="display: flex; justify-content: center; color:
                    #4c4c4c;;
                    font-size: 20px; font-weight: bold;">Хамтрагч байгууллагууд</span>
            </div>
            <div class="row" style="display: flex;justify-content: center;">
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="channel" style="height: 90px;">
                        <img src="assets/images/zeely.png" alt="" style="width:
                            45%;height: 100%;">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="channel" style="height: 90px;">
                        <img src="assets/images/organizations/ufinance.png"
                            alt="" style="width: 50%">
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="channel" style="height: 90px;">
                        <img src="assets/images/organizations/ezloan.png" alt=""
                            style="width: 50%">
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="channel" style="height: 90px;">
                        <img src="assets/images/organizations/lite.png" alt=""
                            style="width: 50%">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="channel" style="height: 90px;">
                        <img src="assets/images/organizations/duulekh.png"
                            alt="" style="width: 50%">
                    </div>
                </div>
            </div>
            <div class="divider-5 d-none d-lg-block"></div>



        </div>
    </div>
</section>