
<section class="ls s-py-80 s-py-lg-120 s-py-xl-160 c-gutter-60 fontContent">
    <div class="container" style="padding-bottom:70px;padding-top: 30px">
        <div class="row">
            <main class="offset-lg-1 col-lg-10">
                <article class="vertical-item content-padding post type-post
                    status-publish format-standard has-post-thumbnail
                    single-post">

                    <!-- .post-thumbnail -->
                    <div class="item-media post-thumbnail rounded-image-top">
                        <img src="assets/images/info/front.jpg" alt=""
                            style="height: 500px">
                    </div>


                    <div class="item-content hero-bg" style="padding-top: 5px;">
                        <div class="entry-content">
                            <blockquote>
                                <div class="media">

                                    <div class="media-body">
                                        <span>Технологи хөгжүүлэгчид юу хийдэг
                                            вэ?</span>
                                        <h3>
                                            Front End Developer
                                        </h3>
                                    </div>
                                </div>
                            </blockquote>
                            <header class="entry-header">
                                <div class="entry-meta small-text
                                    color-darkgrey">
                                    <span class="byline">

                                        <span class="posted-on">
                                            <a href="#">
                                                <i class="color-main fa
                                                    fa-calendar"></i>
                                                <time class="entry-date
                                                    published updated"
                                                    datetime="2018-01-03T10:11:37+00:00">27.09.21</time>
                                            </a>
                                        </span>
                                    </span>
                                </div><!-- .entry-meta -->
                            </header>
                            <hr/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6 style="font-size: 15px;">Технологи
                                            хөгжүүлэгчид дотроо
                                            гүйцэтгэдэг үүрэг, зориулалтаасаа
                                            хамаараад олон төрөл байдаг
                                            бөгөөд тэднийг үндсэн 3 түвшинд
                                            хуваан авч үздэг:</h6>
                                        <ul>
                                            <li>Front End Developer</li>
                                            <li>Back end developer</li>
                                            <li>Fullstack</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12">
                                        <h6 style="font-size: 15px;">Тэгвэл
                                            Front End Developers юу хийдэг
                                            юм бол?</h6>
                                        <ul>
                                            <li>Веб сайт болон аппликейшн дээрх
                                                сайтын цэс, элемент гэх мэт
                                                харагдах байдлыг эцсийн
                                                хэрэглэгчид алдаагүй хүргэхэд
                                                анхаарч
                                                ажилладаг хүмүүсийг хэлнэ</li>
                                            <li>Back end developer</li>
                                            <li>Fullstack</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12">
                                        <h6 style="font-size: 15px;">Front End
                                            Developer болохыг хүсэж
                                            байвал доорх програмчлалуудыг заавал
                                            сурах шаардлагатай</h6>
                                        <ul>
                                            <li>HTML</li>
                                            <li>CSS</li>
                                            <li>Javascript</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12">
                                        <h6 style="font-size: 15px;">Цаашлаад
                                            илүү чадварлаг Front End
                                            Developer болохын тулд доорх
                                            технологиудыг сурах шаардлагатай
                                            байдаг</h6>
                                        <ul>
                                            <li>Less</li>
                                            <li>ES6</li>
                                            <li>TypeScript</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12">
                                        <h6 style="font-size: 15px;">Front End
                                            Developer болоход танд
                                            хэрэгтэй Soft Skills</h6>
                                        <ul>
                                            <li>Харилцааны ур чадвар сайн</li>
                                            <li>Багаар ажиллах чадвартай</li>
                                            <li>Шинэлэг бүтээлч байдалд суралцах
                                                хүсэл эрмэлзэлтэй
                                            </li>
                                            <li>Асуудал шийдвэрлэхэд гол үүрэг
                                                гүйцэтгэх чадвартай</li>
                                        </ul>
                                    </div>
                                </div>




                            </div>

                        </div>

                    </article>
                    <div class="col-lg-12" style="display: flex;
                        justify-content:
                        right;margin-top: 20px;padding: 0;">
                        <a routerLink="/news" class="read-more btn small-btn
                            btn-maincolor"><span>Буцах</span></a>
                    </div>








                </main>
            </div>

        </div>
    </section>