<section class="ls s-py-80 s-py-lg-120 s-py-xl-160 team-single fontContent">
    <div class="container" style="padding-bottom:80px;padding-top: 10px">
        <div class="row">
            <div class="offset-lg-1 col-lg-10">
                <div class="row c-gutter-60 align-items-center">
                    <div class="col-lg-6 rounded-images">
                        <img src="assets/images/fintobot.png" alt=""
                            style="width: 100%;">
                    </div>
                    <div class="col-lg-6">
                        <div class="d-block d-lg-none divider-20"></div>
                        <div class="item-content">
                            <h4>ФИНТОБОТ </h4>

                            <table class="table team-table">
                                <tbody>
                                    <tr>
                                        <td style="text-align: justify;">Бидний
                                            системийг ашигласнаар дараах давуу
                                            талуудтай</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <ul>
                                                <li style="text-align:
                                                    justify;">Байгууллага нь
                                                    сервер тоног төхөөрөмж,
                                                    түүний арчилгаа,
                                                    аюулгүй байдалд хөрөнгө
                                                    оруулах шаардлагагүй</li>
                                                <li style="text-align:
                                                    justify;">Мэргэжлийн
                                                    инженерийн шаардлагагүй</li>
                                                <li style="text-align:
                                                    justify;">Вэб технологи дээр
                                                    суурилсан тул хаанаас ч
                                                    хандах боломжтой</li>
                                            </ul>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12" style="margin-top: -80px;">
                        <div class="entry-content">
                            <ul>
                                <li>
                                    <h4>Ерөнхий дэвтэр </h4>

                                    <span style="text-align: justify;">Ерөнхий
                                        дэвтэр систем нь суурь бүртгэлийн
                                        системээс гүйлгээ
                                        татах, тайлан гаргах, боловсруулах болон
                                        тайлант оны эцсийн ашиг
                                        болон алдагдлыг тооцож хаалт хийх
                                        зориулалттай систем юм. </span>
                                    <p></p>
                                </li>
                                <p></p>
                                <li>
                                    <h4>Үндсэн систем</h4>

                                    <h5>Харилцагч</h5>

                                    <p style="text-align: justify;">
                                        Бизнесийг амжилттай тогтвортой явуулах
                                        хамгийн чухал хүчин зүйл
                                        бол харилцагч билээ. Харилцагчид ямар
                                        үйлчилгээ хэрэгтэй, ямар
                                        үйлчилгээг сонирхох, юу дутагдаж байгаа
                                        тал дээр анхаарал хандуулж
                                        ажилласнаар тэдэнд чиглэсэн оновчтой
                                        маркетинг, стратегийн бодлого
                                        явуулах боломж бүрдэнэ. Харилцагчийн
                                        боловсролын түвшин, зан
                                        төлөвийн байдал, харилцаа холбоо, насны
                                        ангилал, эрхэлдэг үйл
                                        ажиллагааны чиглэл зэргийг нарийвчлан
                                        судалж, дүн шинжилгээ хийж
                                        бизнесийн зорилтот зах зээлээ зөв
                                        тодорхойлохын тулд харилцагчийн
                                        талаар дэлгэрэнгүй мэдээлэл хөтлөх,
                                        харилцагчтайгаа тасралтгүй
                                        холбоо үүсгэх хэрэгцээ үүснэ.
                                        Байгууллагын энэхүү хэрэгцээг
                                        харилцагч систем хангаж ажиллана.
                                    </p>
                                    <h5>Харилцах</h5>
                                    <p style="text-align: justify;">
                                        Харилцагчийн өдөр тутмын шилжүүлэг,
                                        төлбөр гэх мэт гүйлгээний
                                        хэрэгцээг хангах бүртгэлийг хөтөлнө.
                                    </p>

                                    <h5>Зээл</h5>
                                    <p style="text-align: justify;">
                                        Энэхүү систем нь финтек аппликейшнийн
                                        зээл олгох үйл ажиллагаанд
                                        ашиглагдана. Зээл системд зээлийн үндсэн
                                        үлдэгдэл, хуримтлагдсан
                                        хүү болон өрийн мэдээллийг өр үүссэн
                                        өдөр тус бүрээр дэлгэрэнгүй
                                        хөтлөх ба төлбөр төлөх дарааллыг
                                        үлдэгдлийн төрлөөр эрэмбэлж
                                        төлүүлэх боломжтой. Төлбөрийн хуваарийн
                                        дагуу өр үүсэхэд зээл
                                        төлөх, харилцах дансанд орлого орох бүрт
                                        зээлийн өрөнд суутгаж
                                        төлүүлэх боломжтой.
                                    </p>
                                    <h5>Кредит данс</h5>
                                    <p style="text-align: justify;">
                                        Кредит данс систем нь зээлжих эрхтэй
                                        кредит дансыг хамгийн уян
                                        хатан нөхцөлтэйгөөр удирдан зохион
                                        байгуулах зориулалттай.
                                        Тухайлбал, тухайн зээлийн төлбөрийн
                                        хуваарь, хүү, лимит зэргийг
                                        ялгаатай тохируулах боломжтойгоороо
                                        онцлог юм.
                                    </p>
                                    <h5>Барьцаа хөрөнгө</h5>
                                    <p style="text-align: justify;">
                                        Банк бус санхүүгийн байгууллага зээл
                                        олгохоос өмнө тухайн
                                        харилцагчийн зээлжих чадвар буюу орлогыг
                                        судалдаг. Зээлдэгчийн
                                        орлого зээлийн төлбөр төлөхөд хангалттай
                                        ч тэр нь байнгын тогтмол
                                        орлого мөн эсэх нь эргэлзээтэй. Энэхүү
                                        эрсдэлийг хаах зорилгоор
                                        хөрөнгө барьцаалах ба түүнтэй холбогдсон
                                        бүртгэл, лимит хөтлөх,
                                        үнэлгээ хийхэд барьцаа хөрөнгө систем
                                        ашиглана.
                                    </p>
                                    <h5 style="text-align: justify;">Дотоодын
                                        данс</h5>
                                    <p style="text-align: justify;">
                                        Банк бус санхүүгийн байгууллагын дотоод
                                        үйл ажиллагаа, хэрэгцээнд
                                        зориулсан дансны мэдээллийг хөтлөх
                                        зориулалттай. Дансны үлдэгдлийн
                                        төрөл, шинж чанараар нь ангилан,
                                        үлдэгдэл нь ЕД-н ямар балансад
                                        тусахыг тодорхойлж, бүтээгдэхүүн үүсгэж
                                        ашиглана.
                                    </p>





                                </li>
                            </ul>


                        </div>
                    </div>
                    <div class="col-lg-12" style="display: flex;
                        justify-content:
                        right;margin-top: 20px;padding: 0;">
                        <a routerLink="/service" class="read-more btn small-btn
                            btn-maincolor"><span>Буцах</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>