<section class="ls s-pt-50 s-pb-20 s-pt-lg-120 s-pb-lg-20
	s-pt-xl-130 s-pb-xl-60 c-mb-30 c-mb-lg-50 fontContent"
	style="background-image: url('assets/images/background.png');">
	<div class="container" style="padding-top: 20px;padding-bottom: 0px;">
		<div class="row">
			<div class="col-12" style="margin-bottom:0">
				<div class="row">
					<div class="col-lg-12">

						<!-- tabs start -->
						<ul class="nav nav-tabs" role="tablist"
							style="display: flex;
							justify-content: center;">
							<li class="nav-item">
								<a style="padding: 15px;"
									class="nav-link active"
									id="tab01" data-toggle="tab"
									href="#tab01_pane"
									role="tab"
									aria-controls="tab01_pane"
									aria-expanded="true"><span>Бүгд</span></a>
							</li>
							<li class="nav-item">
								<a style="padding: 15px;"
									class="nav-link" id="tab02"
									data-toggle="tab"
									href="#tab02_pane"
									role="tab"
									aria-controls="tab02_pane"><span>Мобайл
										аппликейшн</span></a>
							</li>
							<li class="nav-item">
								<a style="padding: 15px;"
									class="nav-link" id="tab03"
									data-toggle="tab"
									href="#tab03_pane"
									role="tab"
									aria-controls="tab03_pane"><span>Веб
										сайт</span></a>
							</li>

						</ul>
						<div class="tab-content" style="padding:20px 0 0 0">

							<div class="tab-pane fade show
								active" id="tab01_pane"
								role="tabpanel"
								aria-labelledby="tab01">
								<div class="row">
									<div class="col-lg-3">
										<div
											class="vertical-item
											text-center
											gallery-title-item bordered" style="background-color:
											#fff;padding:30px
											0;">
											<div
												class="item-media" style="position: unset;">
												<a
													href="./assets/images/product/habido_app.jpg"
													class="photoswipe-link"
													data-width="600"
													data-height="1100">
													<img alt=""
														src="./assets/images/product/habido_app.jpg"
														style="width:
														50%;">
												</a>

											</div>
											<div
												class="item-content">
												<div
													class="gallery-tags">
													<span
														style="color:
														black;
														font-size:
														20px;
														font-weight:
														bold;">Habido</span><br>
													<span
														class="post-tags">
														<a
															style="color:
															black;"
															href="https://apps.apple.com/mn/app/habido/id1579996644"
															target="_blank">
															<img
																src="./assets/images/app-store.png"
																alt=""
																style="width:8%;
																height:
																8%;margin-right:
																20px;">
														</a>

														<a
															style="color:
															black;"
															href="https://play.google.com/store/apps/details?id=mn.app.habido_app"
															target="_blank">
															<img
																src="./assets/images/play-store.png"
																alt=""
																style="width:8%;
																height:
																8%;">
														</a>
													</span>
												</div>


											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div
											class="vertical-item
											text-center
											gallery-title-item
											bordered"
											style="background-color:
											#fff;padding:30px
											0;">
											<div
												class="item-media" style="position: unset;">
												<a
													href="./assets/images/product/zeely_app.jpg"
													class="photoswipe-link"
													data-width="600"
													data-height="1100">
													<img alt=""
														src="./assets/images/product/zeely_app.jpg"
														style="width:
														50%;">
												</a>
											</div>
											<div
												class="item-content">
												<div
													class="gallery-tags">
													<span
														style="color:
														black;
														font-size:
														20px;
														font-weight:
														bold;">Zeely</span><br>
													<span
														class="post-tags">
														<a
															style="color:
															black;"
															href="https://apps.apple.com/mn/app/zeely-by-optimal/id1419637942"
															target="_blank">
															<img
																src="./assets/images/app-store.png"
																alt=""
																style="width:8%;
																height:
																8%;margin-right:
																20px;">
														</a>

														<a
															style="color:
															black;"
															href="https://play.google.com/store/apps/details?id=mn.fr099y.optimal"
															target="_blank">
															<img
																src="./assets/images/play-store.png"
																alt=""
																style="width:8%;
																height:
																8%;">
														</a>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div
											class="vertical-item
											text-center
											gallery-title-item
											bordered"
											style="background-color:
											#fff;padding:30px
											0;">
											<div
												class="item-media" style="position: unset;">
												<a
													href="./assets/images/product/liteplus.jpg"
													class="photoswipe-link"
													data-width="600"
													data-height="1100">
													<img alt=""
														src="./assets/images/product/liteplus.jpg"
														style="width:
														50%;">
												</a>
											</div>
											<div
												class="item-content">
												<div
													class="gallery-tags">
													<span
														style="color:
														black;
														font-size:
														20px;
														font-weight:
														bold;">Lite
														plus</span><br>
													<span
														class="post-tags">
														<a
															style="color:
															black;"
															href="https://apps.apple.com/mn/app/lite/id1561592099"
															target="_blank">
															<img
																src="./assets/images/app-store.png"
																alt=""
																style="width:8%;
																height:
																8%;margin-right:
																20px;">
														</a>

														<a
															style="color:
															black;"
															href="https://apps.apple.com/mn/app/lite/id1561592099"
															target="_blank">
															<img
																src="./assets/images/play-store.png"
																alt=""
																style="width:8%;
																height:
																8%;">
														</a>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div
											class="vertical-item
											text-center
											gallery-title-item
											bordered"
											style="background-color:
											#fff;padding:30px
											0;">
											<div
												class="item-media" style="position: unset;">
												<a
													href="./assets/images/product/easyloan_app.jpg"
													class="photoswipe-link"
													data-width="600"
													data-height="1100">
													<img alt=""
														src="./assets/images/product/easyloan_app.jpg"
														style="width:
														50%;">
												</a>
											</div>
											<div
												class="item-content">
												<div
													class="gallery-tags">
													<span
														style="color:
														black;
														font-size:
														20px;
														font-weight:
														bold;">Easy
														loan</span><br>
													<span
														class="post-tags">
														<a
															style="color:
															black;"
															href="https://apps.apple.com/mn/app/easyloan-mn/id1552667550"
															target="_blank">
															<img
																src="./assets/images/app-store.png"
																alt=""
																style="width:8%;
																height:
																8%;margin-right:
																20px;">
														</a>

														<a
															style="color:
															black;"
															href="https://play.google.com/store/apps/details?id=mn.app.easyloan"
															target="_blank">
															<img
																src="./assets/images/play-store.png"
																alt=""
																style="width:8%;
																height:
																8%;">
														</a>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div
											class="vertical-item
											text-center
											gallery-title-item
											bordered"
											style="background-color:
											#fff;padding:30px
											0;">
											<div
												class="item-media" style="position: unset;">
												<a
													href="./assets/images/product//ufinance_app.jpg"
													class="photoswipe-link"
													data-width="600"
													data-height="1100">
													<img alt=""
														src="./assets/images/product//ufinance_app.jpg"
														style="width:
														50%;">
												</a>
											</div>
											<div
												class="item-content">
												<div
													class="gallery-tags">
													<span
														style="color:
														black;
														font-size:
														20px;
														font-weight:
														bold;">UFinance</span><br>
													<span
														class="post-tags">
														<a
															style="color:
															black;"
															href="https://apps.apple.com/mn/app/ufinance/id1547975013"
															target="_blank">
															<img
																src="./assets/images/app-store.png"
																alt=""
																style="width:8%;
																height:
																8%;margin-right:
																20px;">
														</a>

														<a
															style="color:
															black;"
															href="https://play.google.com/store/apps/details?id=mn.app.ufinance"
															target="_blank">
															<img
																src="./assets/images/play-store.png"
																alt=""
																style="width:8%;
																height:
																8%;">
														</a>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div
											class="vertical-item
											text-center
											gallery-title-item
											bordered"
											style="background-color:
											#fff;padding:30px
											0;">
											<div
												class="item-media" style="position: unset;">
												<a
													href="./assets/images/product/duulekh_app.jpg"
													class="photoswipe-link"
													data-width="600"
													data-height="1100">
													<img alt=""
														src="./assets/images/product/duulekh_app.jpg"
														style="width:
														50%;">
												</a>
											</div>
											<div
												class="item-content">
												<div
													class="gallery-tags">
													<span
														style="color:
														black;
														font-size:
														20px;
														font-weight:
														bold;">Duulekh</span><br>
													<span
														class="post-tags">
														<a
															style="color:
															black;"
															href="https://apps.apple.com/mn/app/duulekh/id1534669316"
															target="_blank">
															<img
																src="./assets/images/app-store.png"
																alt=""
																style="width:8%;
																height:
																8%;margin-right:
																20px;">
														</a>

														<a
															style="color:
															black;"
															href="https://play.google.com/store/apps/details?id=mn.fr099y.duulekh"
															target="_blank">
															<img
																src="./assets/images/play-store.png"
																alt=""
																style="width:8%;
																height:
																8%;">
														</a>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div
											class="vertical-item
											text-center
											gallery-title-item
											bordered"
											style="background-color:
											#fff;padding:30px
											0;">
											<div
												class="item-media" style="position: unset;">
												<a
													href="./assets/images/product/fintobotWeb.png"
													class="photoswipe-link"
													data-width="700"
													data-height="400">
													<img alt=""
														src="./assets/images/product/fintobotWeb.png"
														style="width:
														90%;">
												</a>
											</div>
											<div
												class="item-content">
												<div
													class="gallery-tags">
													<span
														style="color:
														black;
														font-size:
														20px;
														font-weight:
														bold;">Fintobot</span><br>
													<span
														class="post-tags">
														<a
															style="color:
															black;"
															href="https://ft.zeely.mn"
															target="_blank">
															<span>https://fintobot.com</span>
														</a>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div
											class="vertical-item
											text-center
											gallery-title-item
											bordered"
											style="background-color:
											#fff;padding:30px
											0;">
											<div
												class="item-media" style="position: unset;">
												<a
													href="./assets/images/product/zeelyWeb.png"
													class="photoswipe-link"
													data-width="700"
													data-height="500">
													<img alt=""
														src="./assets/images/product/zeelyWeb.png"
														style="width:
														90%;">
												</a>
											</div>
											<div
												class="item-content">
												<div
													class="gallery-tags">
													<span
														style="color:
														black;
														font-size:
														20px;
														font-weight:
														bold;">Fintobot</span><br>
													<span
														class="post-tags">
														<a
															style="color:
															black;"
															href="https://zeely.mn"
															target="_blank">
															<span>www.zeely.mn</span>
														</a>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>


							</div>

							<div class="tab-pane fade"
								id="tab02_pane" role="tabpanel"
								aria-labelledby="tab02">
								<div class="row">
									<div class="col-lg-3">
										<div
											class="vertical-item
											text-center
											gallery-title-item
											bordered"
											style="background-color:
											#fff;padding:30px
											0;">
											<div
												class="item-media" style="position: unset;">
												<a
													href="./assets/images/product/habido_app.jpg"
													class="photoswipe-link"
													data-width="600"
													data-height="1100">
													<img alt=""
														src="./assets/images/product/habido_app.jpg"
														style="width:
														50%;">
												</a>

											</div>
											<div
												class="item-content">
												<div
													class="gallery-tags">
													<span
														style="color:
														black;
														font-size:
														20px;
														font-weight:
														bold;">Habido</span><br>
													<span
														class="post-tags">
														<a
															style="color:
															black;"
															href="https://apps.apple.com/mn/app/habido/id1579996644"
															target="_blank">
															<img
																src="./assets/images/app-store.png"
																alt=""
																style="width:8%;
																height:
																8%;margin-right:
																20px;">
														</a>

														<a
															style="color:
															black;"
															href="https://play.google.com/store/apps/details?id=mn.app.habido_app"
															target="_blank">
															<img
																src="./assets/images/play-store.png"
																alt=""
																style="width:8%;
																height:
																8%;">
														</a>
													</span>
												</div>


											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div
											class="vertical-item
											text-center
											gallery-title-item
											bordered"
											style="background-color:
											#fff;padding:30px
											0;">
											<div
												class="item-media" style="position: unset;">
												<a
													href="./assets/images/product/zeely_app.jpg"
													class="photoswipe-link"
													data-width="600"
													data-height="1100">
													<img alt=""
														src="./assets/images/product/zeely_app.jpg"
														style="width:
														50%;">
												</a>
											</div>
											<div
												class="item-content">
												<div
													class="gallery-tags">
													<span
														style="color:
														black;
														font-size:
														20px;
														font-weight:
														bold;">Zeely</span><br>
													<span
														class="post-tags">
														<a
															style="color:
															black;"
															href="https://apps.apple.com/mn/app/zeely-by-optimal/id1419637942"
															target="_blank">
															<img
																src="./assets/images/app-store.png"
																alt=""
																style="width:8%;
																height:
																8%;margin-right:
																20px;">
														</a>

														<a
															style="color:
															black;"
															href="https://play.google.com/store/apps/details?id=mn.fr099y.optimal"
															target="_blank">
															<img
																src="./assets/images/play-store.png"
																alt=""
																style="width:8%;
																height:
																8%;">
														</a>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div
											class="vertical-item
											text-center
											gallery-title-item
											bordered"
											style="background-color:
											#fff;padding:30px
											0;">
											<div
												class="item-media" style="position: unset;">
												<a
													href="./assets/images/product/liteplus.jpg"
													class="photoswipe-link"
													data-width="600"
													data-height="1100">
													<img alt=""
														src="./assets/images/product/liteplus.jpg"
														style="width:
														50%;">
												</a>
											</div>
											<div
												class="item-content">
												<div
													class="gallery-tags">
													<span
														style="color:
														black;
														font-size:
														20px;
														font-weight:
														bold;">Lite
														plus</span><br>
													<span
														class="post-tags">
														<a
															style="color:
															black;"
															href="https://apps.apple.com/mn/app/lite/id1561592099"
															target="_blank">
															<img
																src="./assets/images/app-store.png"
																alt=""
																style="width:8%;
																height:
																8%;margin-right:
																20px;">
														</a>

														<a
															style="color:
															black;"
															href="https://apps.apple.com/mn/app/lite/id1561592099"
															target="_blank">
															<img
																src="./assets/images/play-store.png"
																alt=""
																style="width:8%;
																height:
																8%;">
														</a>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div
											class="vertical-item
											text-center
											gallery-title-item
											bordered"
											style="background-color:
											#fff;padding:30px
											0;">
											<div
												class="item-media" style="position: unset;">
												<a
													href="./assets/images/product/easyloan_app.jpg"
													class="photoswipe-link"
													data-width="600"
													data-height="1100">
													<img alt=""
														src="./assets/images/product/easyloan_app.jpg"
														style="width:
														50%;">
												</a>
											</div>
											<div
												class="item-content">
												<div
													class="gallery-tags">
													<span
														style="color:
														black;
														font-size:
														20px;
														font-weight:
														bold;">Easy
														loan</span><br>
													<span
														class="post-tags">
														<a
															style="color:
															black;"
															href="https://apps.apple.com/mn/app/easyloan-mn/id1552667550"
															target="_blank">
															<img
																src="./assets/images/app-store.png"
																alt=""
																style="width:8%;
																height:
																8%;margin-right:
																20px;">
														</a>

														<a
															style="color:
															black;"
															href="https://play.google.com/store/apps/details?id=mn.app.easyloan"
															target="_blank">
															<img
																src="./assets/images/play-store.png"
																alt=""
																style="width:8%;
																height:
																8%;">
														</a>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div
											class="vertical-item
											text-center
											gallery-title-item
											bordered"
											style="background-color:
											#fff;padding:30px
											0;">
											<div
												class="item-media" style="position: unset;">
												<a
													href="./assets/images/product//ufinance_app.jpg"
													class="photoswipe-link"
													data-width="600"
													data-height="1100">
													<img alt=""
														src="./assets/images/product//ufinance_app.jpg"
														style="width:
														50%;">
												</a>
											</div>
											<div
												class="item-content">
												<div
													class="gallery-tags">
													<span
														style="color:
														black;
														font-size:
														20px;
														font-weight:
														bold;">UFinance</span><br>
													<span
														class="post-tags">
														<a
															style="color:
															black;"
															href="https://apps.apple.com/mn/app/ufinance/id1547975013"
															target="_blank">
															<img
																src="./assets/images/app-store.png"
																alt=""
																style="width:8%;
																height:
																8%;margin-right:
																20px;">
														</a>

														<a
															style="color:
															black;"
															href="https://play.google.com/store/apps/details?id=mn.app.ufinance"
															target="_blank">
															<img
																src="./assets/images/play-store.png"
																alt=""
																style="width:8%;
																height:
																8%;">
														</a>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div
											class="vertical-item
											text-center
											gallery-title-item
											bordered"
											style="background-color:
											#fff;padding:30px
											0;">
											<div
												class="item-media" style="position: unset;">
												<a
													href="./assets/images/product/duulekh_app.jpg"
													class="photoswipe-link"
													data-width="600"
													data-height="1100">
													<img alt=""
														src="./assets/images/product/duulekh_app.jpg"
														style="width:
														50%;">
												</a>
											</div>
											<div
												class="item-content">
												<div
													class="gallery-tags">
													<span
														style="color:
														black;
														font-size:
														20px;
														font-weight:
														bold;">Duulekh</span><br>
													<span
														class="post-tags">
														<a
															style="color:
															black;"
															href="https://apps.apple.com/mn/app/duulekh/id1534669316"
															target="_blank">
															<img
																src="./assets/images/app-store.png"
																alt=""
																style="width:8%;
																height:
																8%;margin-right:
																20px;">
														</a>

														<a
															style="color:
															black;"
															href="https://play.google.com/store/apps/details?id=mn.fr099y.duulekh"
															target="_blank">
															<img
																src="./assets/images/play-store.png"
																alt=""
																style="width:8%;
																height:
																8%;">
														</a>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>


							</div>

							<div class="tab-pane fade"
								id="tab03_pane" role="tabpanel"
								aria-labelledby="tab03">
								<div class="row">
									<div class="col-lg-3"
										style="height: 320px;">
										<div
											class="vertical-item
											text-center
											gallery-title-item
											bordered"
											style="background-color:
											#fff;padding:30px
											0;">
											<div
												class="item-media" style="position: unset;">
												<a
													href="./assets/images/product/fintobotWeb.png"
													class="photoswipe-link"
													data-width="700"
													data-height="400">
													<img alt=""
														src="./assets/images/product/fintobotWeb.png"
														style="width:
														90%;">
												</a>
											</div>
											<div
												class="item-content">
												<div
													class="gallery-tags">
													<span
														style="color:
														black;
														font-size:
														20px;
														font-weight:
														bold;">Fintobot</span><br>
													<span
														class="post-tags">
														<a
															style="color:
															black;"
															href="https://ft.zeely.mn"
															target="_blank">
															<span>https://fintobot.mn</span>
														</a>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div
											class="vertical-item
											text-center
											gallery-title-item
											bordered"
											style="background-color:
											#fff;padding:30px
											0;">
											<div
												class="item-media" style="position: unset;">
												<a
													href="./assets/images/product/zeelyWeb.png"
													class="photoswipe-link"
													data-width="700"
													data-height="500">
													<img alt=""
														src="./assets/images/product/zeelyWeb.png"
														style="width:
														90%;">
												</a>
											</div>
											<div
												class="item-content">
												<div
													class="gallery-tags">
													<span
														style="color:
														black;
														font-size:
														20px;
														font-weight:
														bold;">Zeely</span><br>
													<span
														class="post-tags">
														<a
															style="color:
															black;"
															href="https://zeely.mn"
															target="_blank">
															<span>www.zeely.mn</span>
														</a>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>


							</div>

						</div>
						<!-- tabs end-->
					</div>

				</div>
			</div>
		</div>
	</div>
</section>