<section class="page_slider">
    <!-- <div id="particles-js"></div> -->
    <!-- <div id="tsparticles"></div> -->
    <div id="particles-js">
    </div>
    <div class="flexslider" data-nav="false">
        <ul class="slides">
            <li class="ds">
                <img src="assets/images/slide01.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">
                                    <div class="intro_layer"
                                        data-animation="fadeInRight">
                                        <h1 class="intro_featured_word">
                                            <img src="assets/images/slide1.png"
                                                alt="" />
                                        </h1>

                                    </div>

                                </div> <!-- eof .intro_layers -->
                            </div> <!-- eof .intro_layers_wrapper -->
                        </div> <!-- eof .col-* -->
                    </div><!-- eof .row -->
                </div><!-- eof .container -->
            </li>
            <li class="ds slide2">
                <img src="assets/images/slide02.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">
                                    <div class="intro_layer"
                                        data-animation="fadeInRight">
                                        <h1 class="slide2 intro_featured_word">
                                            <img src="assets/images/slide2.png"
                                                alt="" />
                                        </h1>

                                    </div>

                                </div> <!-- eof .intro_layers -->
                            </div> <!-- eof .intro_layers_wrapper -->
                        </div> <!-- eof .col-* -->
                    </div><!-- eof .row -->
                </div><!-- eof .container -->

            </li>

        </ul>
    </div> <!-- eof flexslider -->
    <div class="ds social-flex">

        <p class="social-icons">
            <a href="https://www.facebook.com/tanasoft.mn" target="_blank"
                class="fa
                fa-facebook color-white" title="facebook"></a>
            <a href="https://www.youtube.com/" target="_blank" class="fa
                fa-youtube-play color-white" title="youtube"></a>
        </p>
    </div>

</section>