<div id="canvas">
    <div id="box_wrapper">
        <div class="header_absolute header_layout_1 fontHeader">
            <header class="page_header justify-nav-end">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-4 col-md-5 col-11">
                            <a href="/" class="logo">
                                <img src="assets/images/tanasoftLogo.png"
                                    style="padding: 5px; size: 100pc;
                                    margin-left: 0px;" alt="">
                            </a>

                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-7 col-1">
                            <div class="nav-wrap">
                                <!-- main nav start -->
                                <nav class="top-nav">
                                    <ul class="nav sf-menu sf-js-enabled
                                        sf-arrows" style="touch-action:
                                        pan-y;">
                                        <li>
                                            <span class="icon-inline">
                                                <span class="icon-styled"
                                                    style="color:white">
                                                    <i class="fa fa-phone"></i>
                                                </span>

                                                <span style="color:white">
                                                    +976 9905 1855
                                                </span>
                                            </span>

                                        </li>
                                        <!-- eof contacts -->
                                        <li>
                                            <span class="icon-inline">
                                                <span class="icon-styled"
                                                    style="color:white">
                                                    <i class="fa fa-envelope"></i>
                                                </span>

                                                <span style="color:white">
                                                    info@tanasoft.mn
                                                </span>
                                            </span>
                                        </li>
                                        <!-- eof features -->
                                    </ul>
                                </nav>
                                <!-- eof main nav -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- header toggler -->
            </header>
            <app-sidebar></app-sidebar>
        </div>
        <router-outlet></router-outlet>
        <app-footer-homec></app-footer-homec>

    </div>
</div>