<section class="ls s-py-80 s-py-lg-120 s-py-xl-160 c-gutter-60 fontContent">
    <div class="container" style="padding-bottom:70px;padding-top: 30px">
        <div class="row">
            <main class="offset-lg-1 col-lg-10">
                <article class="vertical-item content-padding post type-post
                    status-publish format-standard has-post-thumbnail
                    single-post">

                    <!-- .post-thumbnail -->
                    <div class="item-media post-thumbnail rounded-image-top">
                        <img src="assets/images/info/ai.jpg" alt=""
                            style="height: 500px">
                    </div>


                    <div class="item-content hero-bg" style="padding-top: 5px;">
                        <div class="entry-content">
                            <blockquote>
                                <div class="media">

                                    <div class="media-body">
                                        <h4>
                                            AI буюу Хиймэл оюун ухааны хурдацтай
                                            хөгжил
                                        </h4>
                                        <h5 style="font-size: 15px;">Бизнесийн
                                            байгууллагуудын өсөлт
                                            хөгжилд “Хиймэл оюун ухаан” нь
                                            хүмүүсийн оролцооноос илүү ашиг
                                            тусаа өгч байгаа гэдэгт та итгэж
                                            байна уу?
                                        </h5>
                                    </div>
                                </div>
                            </blockquote>
                            <header class="entry-header">
                                <div class="entry-meta small-text
                                    color-darkgrey">
                                    <span class="byline">

                                        <span class="posted-on">
                                            <a href="#">
                                                <i class="color-main fa
                                                    fa-calendar"></i>
                                                <time class="entry-date
                                                    published updated"
                                                    datetime="2018-01-03T10:11:37+00:00">29.10.21</time>
                                            </a>
                                        </span>
                                    </span>
                                </div><!-- .entry-meta -->
                            </header>
                            <hr/>
                                <div class="row">

                                    <div class="col-md-12">
                                        <h6 style="font-size: 15px;">Бизнесийн
                                            байгууллагуудын өсөлт
                                            хөгжилд “Хиймэл оюун ухаан” нь
                                            хүмүүсийн оролцооноос илүү ашиг
                                            тусаа өгч байгаа гэдэгт та итгэж
                                            байна уу?
                                        </h6>
                                        <span>AI нэвтрүүлсэн байгууллагууд
                                        </span>
                                        <ul>
                                            <li>Хэрэглэгчийн илүү сайн туршлага
                                                бий болох</li>
                                            <ul>
                                                <li>67%</li>
                                                <li>86%</li>
                                            </ul>
                                            <li>Бүтээгдэхүүн үйлчилгээ түргэн
                                                хугацаанд шинэчлэгдэх </li>
                                            <ul>
                                                <li>54%</li>
                                                <li>757%</li>
                                            </ul>
                                            <li>Шийдвэр гаргах чадварууд сайжрах</li>
                                            <ul>
                                                <li>53%</li>
                                                <li>75%</li>
                                            </ul>
                                            <li>Зардал хэмнэх боломж үүсэх</li>
                                            <ul>
                                                <li>50%</li>
                                                <li>70%</li>
                                            </ul>
                                            <li>Илүү үр ашигтай бүтээмжтэй
                                                ажиллах </li>
                                            <ul>
                                                <li>52%</li>
                                                <li>64%</li>
                                            </ul>
                                        </ul>
                                    </div>
                                    <div class="col-md-12">
                                        <h6 style="font-size: 15px;">Price
                                            waterhouse Coopers
                                        </h6>
                                        <ul>
                                            <li>PwC нь жил бүр хиймэл оюун
                                                ухаантай холбоотой судалгааны
                                                ажил
                                                явуулдаг бөгөөд 2020 онд дөрөв
                                                дэх удаагаа “Хиймэл оюун ухааны
                                                таамаглал 2021 онд” сэдвээр
                                                зохион байгуулжээ
                                            </li>
                                            <li>Судалгааны үр дүнд судалгаанд
                                                оролцсон байгууллагуудын 4/1 нь
                                                хиймэл оюун ухааныг өргөн
                                                нэвтрүүлж байгаа нь ажиглагдсан
                                                ба
                                                өнгөрсөн жилтэй харьцуулбал
                                                18%-иар өссөн байна
                                            </li>
                                            <li>Мөн цаашдаа ч байгууллагууд
                                                хиймэл оюун ухааныг “үндсэн
                                                технологи” болгоно хэмээн 86% нь
                                                хариулт өгчээ
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12">
                                        <h6 style="font-size: 15px;">Эх сурвалж
                                        </h6>
                                        <ul>
                                            <li>https://www.pwc.com/us/en/tech-effect/ai-analytics/ai-predictions.html
                                            </li>
                                        </ul>
                                    </div>


                                </div>
                            </div>

                        </div>

                    </article>
                    <div class="col-lg-12" style="display: flex;
                        justify-content:
                        right;margin-top: 20px;padding: 0;">
                        <a routerLink="/news" class="read-more btn small-btn
                            btn-maincolor"><span>Буцах</span></a>
                    </div>
                </main>
            </div>

        </div>
    </section>