<section class="ls s-py-80 s-py-lg-120 s-py-xl-160 c-gutter-60 fontContent">
    <div class="container" style="padding-bottom:70px;padding-top: 30px">
        <div class="row">
            <main class="offset-lg-1 col-lg-10">
                <article class="vertical-item content-padding post type-post
                    status-publish format-standard has-post-thumbnail
                    single-post">

                    <!-- .post-thumbnail -->
                    <div class="item-media post-thumbnail rounded-image-top
                        bordered">
                        <img src="assets/images/zeely.png" alt=""
                            style="height: 500px">
                    </div>


                    <div class="item-content hero-bg" style="padding-top: 5px;">
                        <div class="entry-content">
                            <blockquote>
                                <div class="media">

                                    <div class="media-body">
                                        <h5>
                                            Zeely
                                        </h5>
                                    </div>
                                </div>
                            </blockquote>
                            <header class="entry-header">
                                <div class="entry-meta small-text
                                    color-darkgrey">
                                    <span class="byline">

                                        <span class="posted-on">
                                            <a href="#">
                                                <i class="color-main fa
                                                    fa-calendar"></i>
                                                <time class="entry-date
                                                    published updated"
                                                    datetime="2018-01-03T10:11:37+00:00">27.10.21</time>
                                            </a>
                                        </span>
                                    </span>
                                </div><!-- .entry-meta -->
                            </header>
                            <hr/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <span style="font-size: 15px;">Бидний
                                            бүтээсэн финтек системийг
                                            ашиглан бичил санхүүгийн зах зээл
                                            дээр амжилттай үйл ажиллагаагаа
                                            явуулж буй компанийн нэг бол Zeely
                                            юм
                                        </span>
                                        <br/>
                                        </div>
                                        <div class="col-md-12">
                                            <h6 style="font-size: 15px;">Zeely
                                                аппликейшн нь
                                            </h6>
                                            <ul>
                                                <li>Сэтгэл зүйн үнэлгээний
                                                    системийг технологитой
                                                    хослуулж,
                                                    санхүүгийн үйлчилгээг
                                                    иргэдэд үзүүлдэг Монгол дахь
                                                    цорын ганц
                                                    psy-fintech аппликейшн
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-12">
                                            <h6 style="font-size: 15px;">Бидний
                                                бүтээсэн Zeely аппликейшн зах
                                                зээлд ямар шинэ боломжуудыг нээж
                                                өгсөн бэ?
                                            </h6>
                                            <ul>
                                                <li>Сэтгэл зүйн асуулгыг хиймэл
                                                    оюун ухаан дээр суурилан,
                                                    хүний
                                                    хариуцлагын түвшин
                                                    тодорхойлох шинэ
                                                    бүтээгдэхүүнийг финтекийн
                                                    салбарт амжилттай
                                                    нэвтрүүлсэн
                                                </li>
                                                <li>НДШ болон орлого нотлохыг
                                                    шаардах бус хариуцлагаа
                                                    нотлосон
                                                    байхад л зээлийн эрхийг
                                                    тодорхойлдог шинэ шийдлийг
                                                    бий болгосон
                                                </li>
                                                <li>Цаг алдалгүй онлайнаар
                                                    санхүүгийн бүхий л асуудлаа
                                                    шийдвэрлэх боломжийг нээж
                                                    өгсөн
                                                </li>
                                                <li>Санхүүгийн үйлчилгээний
                                                    хүртээмжийг сайжруулж, тэгш
                                                    боломжийг олгосон
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-12">
                                            <h6 style="font-size: 15px;">Цаашлаад
                                                илүү чадварлаг Front End
                                                Developer болохын тулд доорх
                                                технологиудыг сурах шаардлагатай
                                                байдаг</h6>
                                            <ul>
                                                <li>Less</li>
                                                <li>ES6</li>
                                                <li>TypeScript</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-12">
                                            <h6 style="font-size: 15px;">Front
                                                End Developer болоход танд
                                                хэрэгтэй Soft Skills</h6>
                                            <ul>
                                                <li>Харилцааны ур чадвар сайн</li>
                                                <li>Багаар ажиллах чадвартай</li>
                                                <li>Шинэлэг бүтээлч байдалд
                                                    суралцах хүсэл эрмэлзэлтэй
                                                </li>
                                                <li>Асуудал шийдвэрлэхэд гол
                                                    үүрэг гүйцэтгэх чадвартай</li>
                                            </ul>
                                        </div>
                                    </div>




                                </div>

                            </div>

                        </article>

                        <div class="col-lg-12" style="display: flex;
                            justify-content:
                            right;margin-top: 20px;padding: 0;">
                            <a routerLink="/news" class="read-more btn small-btn
                                btn-maincolor"><span>Буцах</span></a>
                        </div>
                    </main>
                </div>

            </div>
        </section>